body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #e65100;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #ff7539;
}

#cat-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#cat-image img {
  max-width: 100%;
  max-height: 500px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
